<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933003367454-kdeu4ed0skftbo9f9f3v8g0grcd25d3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933003367454-kdeu4ed0skftbo9f9f3v8g0grcd25d3i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>933003367454-gp9i8d982h5vgm6s1qrui2avmvo3mufs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcexiBEEzwUUTVXC9JtfhKQpDs0HirQ9I</string>
	<key>GCM_SENDER_ID</key>
	<string>933003367454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>asroo-shop-getx-ad001</string>
	<key>STORAGE_BUCKET</key>
	<string>asroo-shop-getx-ad001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933003367454:ios:35b17490bd79951e118a0f</string>
</dict>
</plist>